.container {
    padding-top: 2rem;
}
.thEmail{
    width: 60%;
}
.thStatus, .thAcao {
    width: 30%;
}
.thNr {
    width: 10%;
}
.divAcao {
    width: 100%;
}
@media (max-width: 991.98px) {
    .divAcao {
        width: 100%;
        margin: 0 !important;
    }
    .colAcao {
        padding-bottom: 0.5rem;
    }
}
.pull-right {
    float: right;
}
.respondido {
    font-size: .8rem;
    color: #5cb85c;
    margin-right: 3rem;
}
.naorespondido {
    font-size: .8rem;
    color: #d9534f;
    margin-right: 3rem;
}
.navContainer {
    padding-top: 0;
}