.container {
    padding-top: 2rem;
}
.thEmail, .thStatus, .thAcao {
    width: 30%;
}
.thNr {
    width: 10%;
}
.divAcao {
    width: 100%;
}
@media (max-width: 991.98px) {
    .divAcao {
        width: 100%;
        margin: 0 !important;
    }
    .colAcao {
        padding-bottom: 0.5rem;
    }
}