.container {
    padding-top: 2rem;
}
.thEmail{
    width: 60%;
}
.thStatus, .thAcao {
    width: 30%;
}
.thNr {
    width: 10%;
}
.divAcao {
    width: 100%;
}
.pull-right {
    float: right;
}
.respondido {
    /* font-size: .8rem;
    color: #5cb85c; */
    margin-right: 3rem;
}
.naorespondido {
    /* font-size: .8rem;
    color: #d9534f; */
    margin-right: 3rem;
}
@media (max-width: 991.98px) {
    .divAcao {
        width: 100%;
        margin: 0 !important;
    }
    .colAcao {
        padding-bottom: 0.5rem;
    }
}
@media (max-width: 575.98px) {
    .btn{
        font-size: .8rem !important;
    }
    td {
        font-size: .8rem !important;
    }
    p {
        margin-bottom: .2rem !important;
    }
    .respondido {
        margin-right: 0;
    }
    .naorespondido {
        margin-right: 0;
    }
    .pull-right {
        float: none;
    }
    .divAcao {
        width: 100%;
        margin: 0 !important;
    }
    .colAcao {
        padding-bottom: 0.5rem;
    }
}
.navContainer {
    padding-top: 0;
}
.bold {
    font-weight: bold;
}